<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <title>{% block title %}My Site{% endblock %}</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <p> Welcome, {{ user.username }}!</p>
        <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
            <p><a href="{% url 'accounts:login' %}"></a></p>| <a href="{% url 'accounts:registe' %}">Register</a>
        {% endif %}

            {% block content %}

            {% endblock %}
    </body>
</html>